.portoflio_wrapper {
    height: 100%;
    text-align: center;
    margin-top: 20%;
    vertical-align: baseline;

}

.portfolio_button {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: wheat;

    font-size: 42px;
    transition: all 0.5s;
    padding: 60px;
    width: 400px;

    border: none;
    outline: none;
}

.portfolio_button:focus {
    border: none;
    outline: none;
}

.portfolio_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 42px;
}

.portfolio_button:hover span {
    padding-right: 30px;
}


.portfolio_button span:after {
    content: '\00bb';
    font-size: 40px;
    display: block;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
}

.portfolio_button:hover span:after {
    opacity: 1;
    right: 0;

}
