.title_block {
    padding-top: 15px;
    margin-bottom: 15px
}

.back_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    width: 63.25px;
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.home_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.test_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 5px 5px;

}

.content_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 20px;
    margin-top: 15px;
    transition-duration: 0.3s;

}

.content_box {
    padding: 10px;
    background-color: burlywood;
    border: 5px solid #cc0066;
}

.photo_div {
    margin: 30px 15px 20px 15px;
    border: none;
    height: 3px;
    color: #4CAF50;
    background-color: #4CAF50;
}

@media only screen and (min-width: 1225px) {
    .content_wrapper {
        grid-template-columns: repeat(4, minmax(265px, 1fr));
    }
}


@media only screen and (min-width: 930px) and (max-width: 1225px) {
    .content_wrapper {
        grid-template-columns: repeat(2, minmax(265px, 1fr));
    }

}


@media only screen and (max-width: 930px) {
    .content_wrapper {
        grid-template-columns: repeat(1, minmax(265px, 1fr));
    }

}

/*----------------------------------------------------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 15px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
